.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2rem;
    width: 80%;
}

.mintContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mintSection {
    margin-top: 2rem;
    width: 80%;
}

.mintForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 1rem;
}

.aboutText {
    width: 80%;
}

.preCode {
    color: white;
    background-color: black;
    padding: 0.25rem;
    overflow: scroll;
}

.typeSection {
    margin: 1rem;
    border: 1px solid black;
    width: 80%;
}
