.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 4rem;
    width: 80%;
}
